/* Start Global */
html {
  scroll-behavior: smooth;
}
:root {
  --color-blue: #08526d;
  --color-red: #ec1c23;
  --padding: 50px;
}
/* End Global */

/* Start Component */
@media (max-width: 575.98px) {
  .h2-xs {
    font-size: 25px;
  }
  .p-xs {
    font-size: 16px;
    line-height: 1.7;
  }
}
/* End Component */

/* Start Upper NavBar  */
.upper-nav {
  background-color: var(--color-blue);
  padding-top: 10px;
  padding-bottom: 10px;
}
.upper-nav span {
  color: #a7a7a7;
}
.upper-nav span.two {
  color: #fff;
}
.upper-nav i {
  color: #fff;
  margin: 0 5px;
}
.upper-nav .quote {
  padding: 2px 13px;
  border: 1px solid var(--color-red);
}
@media (max-width: 767px) {
  .upper-nav .text-right {
    text-align: left !important;
  }
}
/* End Upper NavBar  */

/* Start navBar */
.navbar h2 {
  color: var(--color-blue);
}
.navbar h2 span {
  font-weight: normal;
  color: var(--color-red);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--color-blue);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-red);
}
/* End navBar */

/* Start Landing Page */
.landing {
  background-color: var(--color-blue);
  background-image: url("../images/landing.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
}
.landing .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landing .container {
  position: relative;
  z-index: 2;
}
.landing .text-intro h2 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .landing .text-intro h2 {
    font-size: 30px;
  }
}
.landing .text-intro h2 span {
  background-color: var(--color-red);
  padding: 3px 5px;
}
/* End Landing Page */

/* Start Features */
.features i {
  color: #fff;
  background-color: var(--color-red);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.features h3 {
  color: var(--color-blue);
  margin-top: 20px;
  margin-bottom: 20px;
}
.features p {
  font-size: 16px;
  line-height: 1.7;
  color: #a3a7a9;
  max-width: 90%;
}
/* End Features */

/* Start Overview */
.overview {
  background-color: #f0f5f7;
}
.overview span {
  letter-spacing: 2px;
  color: #a3a7a9;
}
.overview a {
  color: #fff;
  background-color: var(--color-red);
  border-radius: 0;
}
/* End Overview */

/* Start Our Galary */
.galary {
}
.galary-image img {
  width: 100%;
  height: 100%;
}
.galary-image .col-md-3,
.galary-image .col-sm-6, 
.galary-image .col-12 {
  padding: 0
}
.galary .img-box {
  position: relative;
  transition: .5s
}
.galary .img-box button.pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s
}
.galary .img-box > i {
  color: #FFF;
  cursor: pointer;
  display: none;
  transition: .5s;
}
.galary .img-box:hover button.pop {
  opacity: 1;
}
.galary .img-box:hover > i {
  display: block;
}
.galary .img-box:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #215b7077;
  opacity: 1;
}
/* End Our Galary */
